@import './px2rem.scss';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.el-range-separator {
  width: 20px;
}

/* start scroll style */
.scrollbar {
  float: left;
  background: #F5F5F5;
  overflow-y: scroll;
}

.style-with-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.style-with-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: #F5F5F5;
}

.style-with-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
}

.force-overflow {
}

/* end scroll style */

.table-block {
  border: 1px solid rgb(96, 255, 238);
}

.multi-radio-col {
  padding: 5px 0;
}

//html {
//  font-size: 16px;
//}
//
//@media screen and (min-width: 375px) {
//  html {
//    /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
//    font-size: calc(100% + 2 * (100vw - 375px) / 39);
//    font-size: calc(16px + 2 * (100vw - 375px) / 39);
//  }
//}
//
//@media screen and (min-width: 414px) {
//  html {
//    /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
//    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
//    font-size: calc(18px + 4 * (100vw - 414px) / 586);
//  }
//}
//
//@media screen and (min-width: 600px) {
//  html {
//    /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
//    font-size: calc(125% + 4 * (100vw - 600px) / 400);
//    font-size: calc(20px + 4 * (100vw - 600px) / 400);
//  }
//}
//
//@media screen and (min-width: 1000px) {
//  html {
//    /* 1000px往后是每100像素0.5px增加 */
//    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
//    font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
//  }
//}
