.gg-user-details-with-all {
  .el-card__header {
    padding: 10px 20px;
    background-color: rgb(48, 65, 86);
    color: white;
  }

  .el-card__body {
    padding: 0;
  }

  .child-bind-group {
    display: flex;
    flex-direction: row;

    .title-box {
      .title-name {
        padding: 0 4px;
        color: #4aff24;
      }
    }

    .bind-record-log {
      &:hover{
        color: #61a8ff;
        cursor: pointer;
      }
      color: rgba(97, 168, 255, 0.79);
      .bind-record-log-title{
        border-bottom: 1px solid rgba(97, 168, 255, 0.79);
      }
    }
  }

  .el-form-item {
    margin-bottom: 0;
  }

  .component-card {
    //padding: 0 10px;
    .el-collapse-item__header {
      background-color: rgb(69, 93, 123);
      color: white;
      height: 32px;
    }

    .el-collapse-item__arrow {
      margin: 2px 5px;
    }
  }
}
